/*! Reset WEB*/

/*! declarar los grid area*/
body {
  margin: 0;
  padding: 0;
  background: white;
  font-family: "Roboto", sans-serif;
}
.navbar {
  grid-area: navbar;
  background-color: #fa947e;
  color: white;
  border: 2px solid black;
}
.menu-lateral {
  grid-area: menu-lateral;
  background-color: #cdfa7e;
  color: black;
  border: 2px solid black;
  margin: 0;
}
.menu-central {
  grid-area: menu-central;
  background-color: #fcd224;
  color: black;
  border: 2px solid black;
  height: 100dvh;
}
.pie-de-pagina {
  grid-area: pie-de-pagina;
  background-color: #d7fdff;
  color: black;
  border: 2px solid black;
}
/*!orden de clases para dispositivos moviles*/
/* ?menu-lateral dispositivos moviles*/
.menu-lateral {
    padding: 0;
}

.menu-lateral > ul {
  display: flex;
  flex-direction: column;
  padding: 0;
}
.menu-lateral > ul > li{
    list-style-type: none;
}

/*?menu-central dispositivos moviles*/
.img-menu > img {
  width: 100%;
  object-fit: cover;
}

/*! contenedor grilla dispositivos moviles*/
.container-grid {
  display: grid;
  grid-template-rows: 0.5fr 5fr 0.5fr;
  grid-template-columns: 0.5fr 3.5fr;
  grid-template-areas:
    "menu-lateral navbar"
    "menu-lateral menu-central"
    "pie-de-pagina pie-de-pagina";
}
